@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@800&display=swap');

html {
  font-family:'Barlow', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
}

@media (max-width: 410px) {
  html {font-size: 15px; zoom: 95%;}
}

@media (max-width: 390px) {
  html {font-size: 14px; zoom: 90%;}
}

@media (max-width: 370px) {
  html {font-size: 13px; zoom: 85%;}
}

#divContent {
  width: 100%;
}

@media (min-width: 820px) {
  #divContent {
    width: 820px;
    margin-left: auto;
    margin-right: auto;
    }
}


body {
  width: 100%;
  /*position: relative;*/
  color: #111111;
  background-color: #dddde8;
  /* background-image: linear-gradient(to right, #541b65, #041340); */
  position: static;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
  
}

a {
  text-decoration: none;
  color: #111111;
}



