@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@800&display=swap');

html {
  font-family:'Barlow', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
}

@media (max-width: 410px) {
  html {font-size: 15px; zoom: 95%;}
}

@media (max-width: 390px) {
  html {font-size: 14px; zoom: 90%;}
}

@media (max-width: 370px) {
  html {font-size: 13px; zoom: 85%;}
}

#divContent {
  width: 100%;
}

@media (min-width: 820px) {
  #divContent {
    width: 820px;
    margin-left: auto;
    margin-right: auto;
    }
}


body {
  width: 100%;
  /*position: relative;*/
  color: #111111;
  background-color: #dddde8;
  /* background-image: linear-gradient(to right, #541b65, #041340); */
  position: static;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
  
}

a {
  text-decoration: none;
  color: #111111;
}



#divContent {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
}

.divCountry {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  
  margin: 3px;
}


.divFlag, .divInfo {
  
}

.divFlag {
  width: 58px;
  height: 48px;
  /*background-color: #ffffff;*/
  
  border: 4px solid #ffffff;
  box-sizing: border-box;
  border-radius: 6px 0 0 6px;
}

.divInfo {
  width: 300px;
  height: 48px;
  background-color: #ffffff;
  
  border-radius: 0 6px 6px 0;
}


.divFlag {
  
  display: flex;
  justify-content: center;
  align-items: center;
}


.divFlag > img {
  max-width: 50px;
  max-height: 40px;
}


.divGraph {
  display: flex;
  font-size: 0.6rem;
}

.divGraph > div {
  width: 20px;
  height: 10px;
}

div[data-stage="None"]{
  background-color: transparent;
}
div[data-stage="Bottom"]{
  background-color: #000000;
  margin-bottom: 0px;
}
div[data-stage="Very Low"]{
  background-color: #222;
  margin-bottom: 4px;
}
div[data-stage="Low"]{
  background-color: #444;
  margin-bottom: 8px;
}
div[data-stage="Middle"]{
  background-color: #666;
  margin-bottom: 12px;
}
div[data-stage="High"]{
  background-color: #888;
  margin-bottom: 16px;
}
div[data-stage="Very High"]{
  background-color: light blue;
  margin-bottom: 20x;
}
div[data-stage="Top"]{
  background-color: blue;
  margin-bottom: 24px;
}